/* Commentary client */
.commentary-client {
    margin: auto;
}

/* Inputs */
input {
    appearance: none;
}

#page-commentary-client input {
    border-radius: 50%;
    border: 0.3rem solid var(--contrast-primary-color);
}
