/* Data analytics section */

#data-analytics{
    margin: 3.5rem 1.5rem 1.5rem 1.5rem;
}

#image-dataAnalytics img{
    margin-bottom: 0.75rem;
    width: 20.9375rem;

    align-self: center;
}

@media(min-width: 1024px){
    #image-dataAnalytics img{
        width: 33rem;

    }
}


#text-dataAnalytics{
    gap: 1rem;
}

#data-analytics p, #data-analytics h2 {
    text-align: start;
}

@media(min-width: 1024px){
    #data-analytics{
        flex-direction: row;
        justify-content: space-between;
        margin: 5.79rem 9rem 5.89rem 9.69rem;

    }

    #text-dataAnalytics{
        align-items: start;
        align-self: flex-end;
        margin: 0rem 0rem 3.125rem 0rem;
    }

#text-dataAnalytics p {
    width: 28rem;
}
}