/* Hero */
#hero {
    background-image: url(../images/BackgroundHeroMobile.png);
    background-position: 70% 6%;
    background-repeat: no-repeat;
}

#hero span {
    background-color: #F3EDFF;
    color: var(--contrast-primary-color);
    border-radius: 6.25rem;
    padding: 0.5rem 0.8rem;
}

#container-text-desktop {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#container-text-desktop h1{
    flex: 1 1 auto;

}

#container-text-desktop img{
    flex: 0 0 auto;
}


/* Containers visuais */

.container-invite {
    display: flex;
    align-content: space-between;
    gap: 0.75rem;
    align-items: center;
    margin: 2.5rem 0 3.5rem 0;
    
}


#watch-demo a{
    color: var(--contrast-primary-color);
    align-self: center;
}

#watch-demo{
    gap: 0.25rem;
}

.container-visual {
    background-color: var(--contrast-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.87rem;
    padding: 2.5rem 0.3rem 3rem 0.3rem;
}

@media screen {
    .container-visual{
        background-color: var(--contrast-primary-color);
        background-image: url(../images/ellipse.png);
        background-repeat: no-repeat;
        background-position: -5% 170%;
        position: relative;
    }
}