
#invite-client{
    padding-top: 2rem;
}

#invite-client {
    background-color: var(--contrast-primary-color);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invite-client img{
    align-self: center;
    width: 18.9375rem;
}

#invite-client p, #invite-client h2 {
    color: #fff;
    text-align: start;

}

#invite-client a {
    color: #000;
}

#invite-client img {
    margin: 0 1rem;
}

#invite-textFirst p, #invite-textFirst h2, #invite-textFirst .container-invite{
    padding: 0rem 1rem 1rem 1rem;
}

#invite-textSecond p, #invite-textSecond h2{
    padding: 0rem 1.25rem 1rem 1.25rem;
}

#invite-textSecond .container-invite{
    padding-left: 1.25rem;
}