
#invite-client{
    padding-top: 2rem;
}

#invite-client {
    background-color: var(--contrast-primary-color);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invite-client img{
    align-self: center;
    width: 18.9375rem;
}

#invite-client p, #invite-client h2 {
    color: #fff;
    text-align: start;

}

#invite-client a {
    color: #000;
}

#invite-client img {
    margin: 0 1rem;
}

@media(min-width: 1024px){
    #invite-client img{
        width: 33rem;
    }
}

#invite-contentFirst p, #invite-contentFirst h2, #invite-contentFirst .container-invite{
    padding: 0rem 1rem 1rem 1rem;
}

@media(min-width: 1024px){
    #invite-client{
        flex-direction: column;
    }

    #invite-contentFirst{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2.19rem;
    }
    #invite-contentSecond{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3.5rem;
    }
}

#invite-contenSecond p, #invite-contenSecond h2{
    padding: 0rem 1.25rem 1rem 1.25rem;
}

#invite-contenSecond .container-invite{
    padding-left: 1.25rem;
}