/* Alinhamentos textuais */
h1, h2, p {
    text-align: center;
}

h3, #topics p, #data-analytics p, #data-analytics h2, #call-to-action h2, #call-to-action p, footer h2 span, footer p {
    text-align: start;
}

/* Tamanhos fixos conforme design */
h1 {
    font-size: 2.5rem;
}

@media(min-width: 1024px){
    h1{
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2rem;
    width: 20rem;
}

@media(min-width: 1024px){
    h2{
        font-size: 3rem;
    }

    .introduction-feature h2, #services-available h2, #call-to-action h2{
        font-size: 3.5rem;
    }

    footer h2 span{
        font-size: 4rem;
    }
}

h3 {
    font-size: 1.5rem;
    width: 22rem;
}

@media(min-width: 1024px){
    .commentary-client h3{
        font-size: 2rem;
    }
}

p{
    font-size: 1rem;
}

@media(min-width: 1024px){
    p{
        font-size: 1.125rem;
    }

    footer p{
        font-size: 1rem;
    }
}

#heading{
    width: 7.5rem;
    height: 3rem;
}

#hero-text{
    display: inline;
    width: 20.9375rem;
    height: 12rem;
}

@media(min-width: 1024px){
    .introduction-feature h2{
    width: 55rem;
    }
}

@media(min-width: 1024px){
    #hero-text{
        width: 60.75rem;
    }
}


#started-free a, #watch-demo{
    width: 10.0625rem;
    height: 3.0625rem;
}

.container-visual h2 {
    color: #fff;
    letter-spacing: -0.02rem;
    width: 20rem;
}

@media(min-width: 1024px){
    .container-visual h2{
        width: auto;
        height: 1rem;
    }
}

#topics p{
    width: 16rem;
}

@media(min-width: 1024px){
    .row-feature p{
        width: 20rem;
    }
}
#text-dataAnalytics h2{
    width: 20.9375rem;
}

@media(min-width: 1024px){
    #text-dataAnalytics h2{
        width: 35.5rem;
    }
}

#invite-client a, #call-to-action a{
    font-size: 1rem;
}

#invite-client h2{
color: var(--Neutral-10, #FFF);

}


@media(min-width: 1024px){
    #invite-client h2{
        width: 37rem;
    }    
}


#invite-contentFirst p{
    width: 18.9375rem;
    font-size: 1.125rem;

}

@media(min-width: 1024px){
    #invite-client p{
        width: 28rem;
    }    
}


#services-available h2{
    width: 18rem;
    text-align: center;
    letter-spacing: -1%;
    line-height: 120%;
}

#services-available h3{
    width: 17rem;
    font-size: 1.125rem;

}

#services-available .highlight h3{
    font-size: 1.5rem;
    width: 17.4375rem;
    height: 5rem;
}

@media(min-width: 1024px){

    #services-available h2{
        width: 58rem;
    }

    #services-available h3{
        width: 27rem;
        font-size: 1.5rem;

    }
    
    #services-available .highlight h3{
        width: 25rem;
        height: auto;
    }
}


#services-available p{
    width: 17.4375rem;
}

#services-available .highlight p{
    font-size: 1.125rem;
    line-height: 2rem;
}

@media(min-width: 1024px){
    #services-available p{
        width: 26rem;
        line-height: 2rem;
    }

    #services-available .highlight p{
        width: 27rem;
    }
}

@media(min-width: 1024px){
    
    #content-commentary h3{
        width: 43rem;
    }

    #content-commentary{
        margin: 6rem 4rem
    }
}

@media (min-width: 1024px){
    #call-to-action h2{
        width: 43rem;
    }

    #call-to-action p{
        width: 33rem;
    }    
}

.link-rights p{
    font-weight: 500;
}

#heading {
    width: 7.25rem;
    height: 2.0625rem;
    margin-top: 1.25rem;
}

#heading span {
    font-family: "Inter Medium";
}

.contact p {
    width: 13rem;
    align-self: center;
}

@media(min-width: 1024px){

    footer h2{
        width: 47rem;
    }

    footer h2 span{
        display: block;
    }

    .contact p{
        width: 16rem;
    }
}

/* Imagens */
img {
    max-width: 100vw;
    max-height: 100vh;
}


/* barra vertical */

#content-callAction{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1.5rem;
}

#text-callAction{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.vertical-rule{
    width: 0.5rem;
    height: 13.8125rem;
    background-color: var(--contrast-primary-color);

}

/* Containers e layout */

.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem 1.25rem 2.25rem 1.25rem;
}

#logo{
    padding: 0.25rem 0rem;
}

#pages ul, #login ul{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2rem;
}



.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media(min-width: 1024px){
    .desktop{
        display: flex;
    }

    .mobile{
        display: none;
    }
}


.container-inner {
    margin: 0 1.25rem;
}

/* Botões */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--contrast-primary-color);
    padding: 0.875rem 1rem;
    border-radius: 6.25rem;
    width: 8rem;
    height: 1.5rem;
}

.btn-alternative {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border-radius: 6.25rem;
    width: 11.6875rem;
    height: 3.375rem;

}

.btn a{
    padding: 0.875rem 1rem;

}

.advertising{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed;
    border-radius: 6.25rem
}

/* input  */


/* Cards */
.card-enterprise-mobile, .card-enterprise-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 1rem;
    width: 10.625rem;
    height: 6rem;
}

@media(min-width: 1024px){
    #card-enterprise-desktop{
        gap: 3rem;
    }
}

.row-card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.row-card:first-child {
    margin-bottom: 1.63rem;
}
