/* Services */
#services-available {
    margin: 7rem 1.25rem 7rem 1.25rem;

    gap: 2rem;
}

.services-component {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}

.services-component p {
    text-align: start;
}

.text-services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width: 1024px){

    #services-columns{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 7rem
    }

    #services-components{
        gap: 3rem;
    }

    #services-available img{
        width: 3.5rem;
        height: 3.5rem;
    }

}