*{
    margin: 0rem;
    padding: 0rem;

    text-decoration: none;
    color: #000;
}

h1,h2,h3{

    font-family: Inter;
    font-style: normal;
    font-weight: 600;

}

h1{
    font-size: 2.5rem;
}

p, span, a{
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;

    color: #7E8492;
}

img{
    max-width: 100vw;
}

.container-text{
    background-image: url(./images/backgroundHero.png);
}

#card-enterprise-desktop{
    display: none;
}

#image-dataAnalytics-desktop{
    display: none;
}

#invite-client, #invite-client #image-graphicInvite{
    background-color: #563FEB;
    border-radius: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#invite-client p, #invite-client a, #invite-client h2{
    color: #fff;
}

#invite-client img{
    margin: 0rem 1rem;
}

#commentary-client{
    margin: auto;
}

footer{
    background-color: #1D1E25;
    color: #fff;
}